<div class="container-fluid comics">
  <app-loading *ngIf="loading"  [loadingTitle]='catTitle'></app-loading>
    <h2 [@titleState]="playTitle">Latest Comics</h2>

      <div class="row" [@activeState]="isActive">

        <div class="col-md-2 col-4" *ngFor="let item of items">
        <a [routerLink]="['/comic-details', item.id]">

          <img *ngIf="item.images[0]?.path" src="{{item.images[0]?.path}}" class="img-fluid" [lazyLoad]="item.images[0]?.path" alt="">
          <div *ngIf="!item.images[0]?.path" class="">
            sadasdsadasdasd
          </div>
          </a>
        </div>
    </div>
</div>
