<div class="container-fluid preview comics containerTop" [@containerState]="resize">
  <app-loading *ngIf="loading"  [loadingTitle]='catTitle'></app-loading>
    <h2 [@activeState]="isActive">Latest Comics</h2>
      <div class="row" [@activeState]="isActive">
        <div class="col-md-2 col-sm-4 col-xs-6 display-flex" *ngFor="let item of items">

        <a [routerLink]="['/comic-details', item.id]">
          <img src="{{item.images[0].path}}/standard_fantastic.jpg" class="img-responsive" alt="">

          <h4>{{item.title | truncate : 14}}</h4>
          </a>
        </div>
    </div>
</div>
