<app-category [props]="props"></app-category>

<!-- <div class="container-fluid preview containerTop">
<app-loading [@loaderState]="showLoader" [loadingTitle]='catTitle'></app-loading>
<h2 [@titleState]="showTitle">Popular Movies in Cinemas Now</h2>
<a [routerLink]="['/movies']">
      <div class="row" [@activeState]="isActive">
        <div class="col-md-3 col-6" *ngFor="let item of items">
          <img src="/assets/defaultImage.png" class="img-responsive" [lazyLoad]="item?.poster_path" alt="">
        </div>
    </div>
    </a>
</div> -->
