<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" >Geeked Out</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['/']" routerLinkActive="'active'">Home</a></li>
            <li><a [routerLink]="['/movies']" routerLinkActive="'active'">Movies</a></li>
            <li><a [routerLink]="['/comics']" routerLinkActive="'is-active'">Comics</a></li>
            <li><a [routerLink]="['/music']" routerLinkActive="'is-active'">Music</a></li>
            <li><a [routerLink]="['/games']" routerLinkActive="'is-active'">Games</a></li>
            <li><a [routerLink]="['/search']" routerLinkActive="'is-active'">search</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </nav>
