<div class="container-fluid preview containerTop" [@containerState]="resize">
<app-loading *ngIf="loading" [loadingTitle]='catTitle' [@containerState]="resize"></app-loading>
<h2 [@activeState]="isActive">Movies in Cinemas Now</h2>
<div class="row">
  <div (click)="prevPage()" class="col-xs-6 prev">&lt;&lt;Previous Page</div><div (click)="nextPage()" class="col-xs-6 next">Next Page&gt;&gt;</div>
</div>
      <div class="row" [@activeState]="isActive" #parentDiv>

        <div class="col-md-3 item" *ngFor="let item of items">

          <a  [routerLink]="['/movie-details', item.id]">

          <img *ngIf="item?.poster_path !==null" src="{{config?.base_url}}w500{{item?.poster_path}}" class="img-responsive"  alt="">

          <img *ngIf="item?.poster_path ===null" src="/assets/placeholder.jpg" class="img-responsive"  alt="">
            </a>

        </div>

    </div>
    <div class="row">
      <div (click)="prevPage()" class="col-xs-6 prev">&lt;&lt;Previous Page</div><div class="col-xs-6 next"><a (click)="nextPage()">Next Page&gt;&gt;</a></div>
    </div>
</div>
