/* You can add global styles to this file, and also import other style files */
body{
  background-color: #000;
  color: #fff;

}
body a:link, body a:visited, body a:hover, body a:active{
  color:#fff;
  text-decoration: none;
}
body a:hover{
text-decoration: underline;
}
h2{
  margin-top: 30px
}
h4{
  color: #999;
}
/*Buttons*/
.btn-default{
  background-color: #999;

}
.marginTop30{
  margin-top: 30px;
}
.marginTop40{
  margin-top: 40px;
}
.marginTop50{
  margin-top: 50px;
}
.containerTop{
  margin-top: 50px;
  }
.prev, .next{
  font-size: 20px;
  margin-bottom:20px;
}
.prev{
  padding-left: 20px!important;
 text-align: left;
}
.next{
  padding-right: 20px!important;
 text-align: right;
}
.row{
  margin: 0
}
.preview img{
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.preview{
  text-align: center;
}
/*.col-xs-6, .col-md-3, .col-xs-4{
  padding:0;
}*/
[class*='col-'] {
    padding:0;
}
.container-fluid{
  padding: 0;
  min-height: 1000px
}

/**/
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row .display-flex > [class*='col-'] {
  flex-grow: 1 ;
}

.loader{
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -ms-transform-origin: 50% 50%; /* IE 9 */
  -webkit-transform-origin: 50% 50%; /* Chrome, Safari, Opera */
  transform-origin: 50% 50%;
  -webkit-animation:spin 1s linear infinite;
   -moz-animation:spin 1s linear infinite;
   animation:spin 1s linear infinite;
}
.loader img{
  width: 100%;
  height: auto;
  margin-top: 0!important
}
.loader-container{
  text-align: center;
  min-height: 1000px
}
/*COMICS*/

.comics h4 {
  margin: 10px 0 40px 0
}

/*Details Pages*/
.details{
  margin-top: 70px;
}
.details [class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
}
.details img {
  margin-top: 30px
}
.details ul{
  padding-left: 0;
}
.price{
  text-align: center;
}
.img-container{
min-height: 390px
}
.hideUl{
  min-height: 150px;
  overflow: hidden;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*
@media screen and (max-width: 2000px) and (min-width: 1700px){
  .item{
  min-height:780px;

  }
}
@media screen and (max-width: 1700px) and (min-width: 1500px){
  .item{
  min-height:640px;

  }
}

@media screen and (max-width: 1500px) and (min-width: 1400px){
  .item{
  min-height:580px;

  }
}
@media screen and (max-width: 1400px) and (min-width: 1300px){
  .item{
  min-height:540px;

  }
}
@media screen and (max-width: 1300px) and (min-width: 1200px){
  .item{
  min-height:500px;

  }
}
@media screen and (max-width: 1200px) and (min-width: 800px){
  .item{
  min-height:500px;

  }
}
@media screen and (max-width: 800px) and (min-width: 600px){
  .item{
  min-height:400px;

  }
}*/
